body{
  color: #293647;
}

.B {
  background-image: url("img/drukletters.jpg");
  background-position: center;
  height: 250px;
  padding-top: 75px;
}

.B h1{
  color: white;
  font-size: 500%;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
  text-align: center;
}

.container{
  margin-bottom: 25px;
}

.A {
  background-color: grey;
}

h2{
  margin: 25px 0px;
}

a {
  font-style: italic;
  font-weight: bold;
  color: blue;
}

#kalkGomb {
  margin: 20px auto;
}

#valasz{
  visibility:hidden;
}
label {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
}

