body {
    background-image: url(img/background.png);
}

.A {
    background-color: rgba(125, 24, 51, 99%);
    
height:1600px;
width:750px;

margin:auto;
}
#C{ 

    height:135px;
    width: 135px; border-style:  solid  ;
    border-color: orange;
    border-width: 7px;
    
}
#B {
    height:135px;
    width: 135px; border-style:  solid  ;
    border-color: orange;
    border-width: 7px;
   
}
#D {
    height:135px;
    width: 135px;
    border-style:  solid  ;
    border-color: orange;
    border-width: 7px;
    margin-left: 5px;
   
}
#E {
    margin-top: 10px;
margin-left: 10px;
height:288px;
width: 255px;
    border-style:  solid  ;
    border-color: orange;
    border-width: 7px;
    float:left;
}
#G {
    height:135px;
    width: 135px; border-style:  solid  ;
    border-color: orange;
    border-width: 7px;
    margin-left: 5px;
    margin-top: 10px;
}
#F {
    height:135px;
    width: 135px; border-style:  solid  ;
    border-color: orange;
    border-width: 7px;  
   
}
#I{
    height:135px;
    width: 135px; border-style:  solid  ;
    border-color: orange;
    border-width: 7px;
   
}
h1 {
    border-color: white;
    border-style: solid;
    
    border-top: none;
    border-left: none;
    border-width: 7px;
    border-bottom: 1px white solid;
    border-right: none;
     margin-left: 10px;
     margin-right: 10px;
}
p {
    text-align:justify;
    margin-left: 10px;
    margin-right: 10px;
}
a {
    text-decoration: none;
}