body {
    background-image: url(img/hatter.png);
    background-size: 250px;
    
    background-repeat:repeat;
    
}
.A {
    background-color:pink ;
    
    height:1100px;
    width:940px;
    
    margin:auto;
    border-style: dotted;
margin-bottom: 10px;

}
.B {
    border-color: red;
    border-style: solid;
    
    border-top: none;
    border-left: none;
    border-width: 7px;
    border-bottom: 1px RED solid;
    border-right: none;
     margin-left: 5px;
     margin-right: 5px;

}
.C {
    text-align:justify;
    margin:2px;
    margin-left: 5px;

}
.D{

    text-indent: 30px;
}
a {
    text-decoration: none;
    margin-left: 2px;
    color:white;

}
.E {
margin-bottom: 3px;
    margin-left: 100px;
}




a:hover {
    background-color: white;
    color:maroon;
  }
  .F{   
    background-color:rgb(167, 166, 166) ;
    float:left;
    height:840px;
    width:460px;
margin-left: 10px;
  }
 h2 {
border-style: outset ;
background-color: pink;
margin-left: 10px;
margin-right:180px;
border-color: rgb(182, 180, 180);

 }
 #G {

    float: left;
    margin: 0 auto;
    display: block;
    height: 90px;
  margin-left: 10px;
 
      border-style: inset;
  
     
     border-color: rgb(182, 180, 180);
    
 }
 .H {
     
    
  
margin-left: 10px;
 
  text-align: justify;
  
  
 }
 .I {
margin-right: 10px;
    background-color:rgb(167, 166, 166) ;
    float:right;
    height:840px;
    width:450px;
margin-left: 10px;
 }
 #a {
    float: left;
    margin: 0 auto;
    display: block;
    height: 60px;
  margin-left: 10px;
 
      border-style: inset;
  
     
     border-color: rgb(182, 180, 180);
 }
 #b {

    float: left;
    margin: 0 auto;
    display: block;
    height: 60px;
  margin-left: 10px;
 
      border-style: inset;
  
     
     border-color: rgb(182, 180, 180);

 }
 .c{
    background-color: pink ;
    width: auto;
    margin-left: 350px ;
    margin-right: 350px ;
    border: dotted;
    padding: 5px;
    margin-bottom: 20px;
    padding-left: 65px;
    padding-right: 65px;
}

img.galleryItem {
    height: 150px;
    margin-right: 10px;
}
.column {
    float: left;
    width: 25%;
  }
  
.column img {
 opacity: 0.8;
 cursor: pointer;
}

.column img:hover {
 opacity: 1;
}


.row:after {
 content: "";
 display: table;
 clear: both;
}


.container {
 position: relative;
 display: none;
}


#imgtext {
 position: absolute;
 bottom: 15px;
 left: 15px;
 color: white;
 font-size: 20px;
}


.closebtn {
 position: absolute;
 top: 10px;
 right: 15px;
 color: white;
 font-size: 35px;
 cursor: pointer;
}
/* forrás: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tab_img_gallery */ 