body {
background-color:dimgrey;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}



h1 {
margin:auto;
display: block;
width:200px;

}
#A {
height: 140px;
width:200px;
float: right;
border:5px solid blue;
margin-right: 20px;
margin-left: 15px;
border-style: inset;

}
.B {
width: 960px;
background-color:lightblue;
margin:  0 auto;
display:block;
padding:30px;
height:2750px;

}
p {
  text-align: justify;
  margin-right: 30px;
  
 
}
h2 {
  margin-right: 40%;
  text-align: left;
  border-color: darkblue;
  border-style: solid;
  text-transform:uppercase;
  border-top: 2px darkblue solid;
  border-left: none;
  border-width: 7px;
  border-bottom: 2px darkblue dotted;
  border-right: none;
  color: darkblue;
 
}
  




img {
margin-left: 90px;

}
ul {
text-align: justify;
list-style-image: url("img/kukac.png");
margin-left: 70px;
margin-right: 30px;
}
hr{
border: 6px solid blue;
border-style: double;

}
#Z{
  float: left;
  margin: 0 auto;
  display: block;
  height: 180px;
width:170px;

    border: 7px darkblue solid;
    
    margin-right: 10px;
    border-style: inset;
}
#Y {

  float: right;
  border:5px solid blue;
  height: 230px;
width:200px;
margin-left: 20px;
border-style: inset;
}
#O{
  float: left;
  margin: 0 auto;
  display: block;
  height: 210px;
width:200px;

    border: 7px darkblue solid;
    
   margin-right: 40px;
    border-style: inset;
}
.H {
margin-left: 380px;
font-style: italic;
margin-top: 0px;
}
a:link{
  color:blueviolet;
}
a:active{
  color:darkblue;
}