
body {
  background-color:lightgreen ;
}
.oszlop1 {
  text-align: center;
  
}

.jobbra {
margin-left: 600px;
height: 250px;
width:300px ;
}
.sarga {
  height: 200px;
  width: 0%;
  background-color:yellow;
  margin-left: 300px;
}
a {
color:rgba(128, 128, 128, 0.774);
text-decoration: none;
}
  
  p {
    text-align: justify;
    padding-right: 3%;
  }

.pulik {
  display: block;
  margin: 0 auto;
}
.tabla  {

  
  width: 300px;
  margin:auto;
  
}
h2 {
  color:yellow;
}
.nagybetus {
  text-transform:uppercase;
}


.jobbkep {
  width:150px;
 height:100px;
 float: right;
}
hr {
  height:2px;
    border-width:0;
    color:yellow;
    background-color:yellow
}
.kep {
  width:370px;
 height:350px;
 margin:auto;
 display:block

}

.kistabla  tr td {

width: 750px;
}
.tabla > tr > td:not(:first-child) {
  width:320px;
}

