body{
background-color: darkgrey;
margin:auto;

}
#balkep {
  margin-right: 23px;
  display:block;
  width:220px;
  height:130px;
float:left;
box-shadow: 5px 5px 5px #1D1D4E ;

}
h1 {
  margin:auto;
  width:200px;
  display:block;
  color:white;
}
p {
  text-align:justify;
  color:white;
  
  margin-right: 50px;
  
}
h2 {
  color:white;

}
#jobbkep {
 
width:350px;
 height:230px;
float:right;
box-shadow: 3px 4px 4px #1D1D4E  ;
margin-right: 40px;
}
.fejsor{ 
background-color: #1D1D4E;
color:white;
text-align: center;
font-style: normal;
font-weight: bold;
}
table {
  box-shadow: 5px 5px 5px #1D1D4E;
  border-collapse: separate;
 
}
.forras{
  text-align: center;
  font-style: italic;
 
  
}
td {
  color:white;
  text-align: left;
  border: 1px solid #1D1D4E;
  font-style: italic;
  
}
a:link{

  color: #4e0582;

}
a:visited{
  color: #4e0582;
}
a:active{
  color: red;
}
hr {
  height: 2px;
  color:#1D1D4E;
  margin-left: 75px;
  margin-right: 75px;
}
.ja {
text-align: right;
font-style: normal;
font-weight: bold;
padding-right: 6px;
}